body {
    background:white;
}
img {
     max-width:100%
}
a{
    text-decoration: none;
}

.center {
  text-align: center;
}
#header {
    color: white;
    text-align: center;
    background: rgba(34,34,34,.8);
    padding: 3%;
}

#header .container h5 {
    text-align: justify;
}

h1 {
    font-weight: bolder;
}

#main {

}

#intro {
    text-align: justify;
}

h5 {
    margin-top: 2%;
}

#presentation {
    margin-top: 3%;
    text-align: justify;
    font-size: 1.1em;
}

#presentation p {
    margin-bottom: 1.5em;
}
#petition {
  margin-top: 1em;
  font-size: 1.5em;
  text-align: center ;
}

#rsvp, #footer {
    font-size: 1.3em;
    color: white;
    text-align: center;
    background: rgba(34,34,34,.8);
    padding: 20px 10px;
    /*margin-top: 3%;*/
}

#license {
  padding-top: 1em;
}

.contact {
  font-size: 1.2em;
  text-align: center;
}

#footer {
    font-size: .9em;
    padding: 0 0 0 2%;
}

.fabricatorz {
    padding-top: 2em;
}

.photo {
    position: relative;
    height: 200px;
    width: 100%;
    overflow : hidden;
    top:0;
    /*margin-bottom: 3%;*/
}

.photo img {
    /*position:absolute;*/
    /*top:-165%;*/
    /*bottom:0;*/
}

.photo .caption {
    text-align: center;
    background: rgba(0,0,0,.6);
    color: white;
    position:absolute;
    top:80%;
    padding: 5px 10px;
    width: 100%;
    margin:auto;
    opacity:0;
}

.photo:hover .caption{
   transition: opacity .5s;
   opacity: 1;
}
.cover {
  max-height: 80vh;
}
#download {
  font-size: 1.3em;
}
#contact {
  padding-bottom: 1em;
}

.subtitled {
    margin-bottom: 0;
    line-height: .4em;
}


/**
 * Navigation
 */

nav.hz ul { list-type: none; margin:0; padding:0; display: table-row; }
nav.hz ul li { display: table-cell; }
ul.alpha li { width: 1em; }

/**
 * Links page
 */

body.links {
    height: 100%;
    overflow: auto;
}

body.links #header {
    position: fixed;
    width: 100%;
    padding: 0;
    z-index: 90;
    height: 13em;
    height: 10m;
    background-color: rgba(0,0,13,0.95);
}

body.links #header h1 {
    font-size: 2em;
    text-align: right;
    padding-top:0.5em;
    padding-left: 1em;
}

body.links #main {
    top: 1em;
}

body.links h2,
body.links h3 {
    padding-top: 5em;
}

body.links #intro div h4 {
    line-height: 0.8;
}

body.links #tweets {
    position: absolute;
    bottom: 10em;
    right: 0;
}
                

/**
 * Book
 */

body.book #cover figure {
    margin: 0;
    padding: 0;
}
body.book #cover img {
    background-color: #ccc;
    display: block;
}
body.book #cover figcaption {
    font-size: x-small;
}

body.book #toc dl {
    margin: 0;
    padding: 0;
}
body.book #toc dt {}
body.book #toc dd {}
body.book #toc dd ul {
    line-height: 1em;
    margin: 0;
    padding: 0;
}
body.book #toc dd ul li {
    line-height: 1em;
    padding: 0;
}

.author {
    background-color: rgba(200,200,200,1);
    font-style: italic;
    font-size: smaller;
}

/**
 * Tweets
 */

.tweet .translation {
    font-size: smaller;
    font-style: italic;
}
