<div class="container">
    <hr>
    <div class="row" id="freebassel">
        <div class="twelve column">
            <p class="center">This book is dedicated to Bassel Khartabil Sadafi,  loved and celebrated Internet volunteer detained in Syria since March 15, 2012, and to all those who will recognize themselves in the stories told in these pages.</p>
        </div>
    </div>
</div>
<div class="photo u-full-width">
    <a href="http://freebassel.org" title="Help us free Bassel Khartabil">
        <img src="../images/bassel.jpg" alt="Bassel Khartabil" class="u-full-width">
    </a>
    <div class="caption">
        <p>Bassel Khartabil, loved and celebrated Internet volunteer detained in Syria since March 15, 2012
            <small>
                    Credits : <a href="https://www.flickr.com/photos/joi/4670781482/">Flickr / Joi Ito</a>
                </small>
        </p>
    </div>
</div>
