<div class="container">
    <hr>
    <div class="row" id="freebassel">
        <div class="twelve column">
            <p class="center">This book is dedicated to Bassel Khartabil,  loved and celebrated Internet volunteer detained in Syria since March 15, 2012, and to all those who will recognize themselves in the stories told in these pages.
            <br>
            Help us free him by visiting <a href="http://freebassel.org">freebassel.org</a> and signing this <a href="https://www.change.org/p/immediate-release-of-bassel-safadi-%D8%A7%D9%84%D8%A5%D9%81%D8%B1%D8%A7%D8%AC-%D8%A7%D9%84%D9%81%D9%88%D8%B1%D9%8A-%D8%B9%D9%86-%D8%A8%D8%A7%D8%B3%D9%84-%D8%A7%D9%84%D8%B5%D9%81%D8%AF%D9%8A-freebassel?tk=gnbbIyPVE7gcQoN_-LyhNhmbQv9JatQX9R0vdn2g-0E">petition</a>.</p>
        </div>
    </div>
</div>
<div class="photo u-full-width">
    <a href="http://freebassel.org" title="Help us free Bassel Khartabil">
        <img src="../images/bassel.jpg" alt="Bassel Khartabil" class="u-full-width">
    </a>
    <div class="caption">
        <p>Bassel Khartabil, loved and celebrated Internet volunteer detained in Syria since March 15, 2012
            <small>
                    Credits : <a href="https://www.flickr.com/photos/joi/4670781482/">Flickr / Joi Ito</a>
                </small>
        </p>
    </div>
</div>
