<div id="download" class="row">
  <p class="center">
    <span class="nine columns">
      Read The Book
      <br>
      <br>
      <a href="//book.costoffreedom.cc/"><button class="button-download button">HTML</button></a>
      <a href="/book/costoffreedom-edition-1.1.pdf"><button class="button-download button">PDF</button></a>
      <a href="https://www.gitbook.com/download/epub/book/costoffreedom/costoffreedom-book"><button class="button-download button">EPUB</button></a>
    </span>
    <span class="three columns">
      Order Printed Book
      <br>
      <br>
      <a href="http://www.lulu.com/commerce/index.php?fBuyContent=18767186"><img src="http://static.lulu.com/images/services/buy_now_buttons/en/gray.gif?20160315080013" border="0" alt="Support independent publishing: Buy this book on Lulu."></a>
    </span>
  </p>
</div>
