<div id="download">
  <p class="center">
    Read The Book
  </p>
  <p class="center">
    <a href="//book.costoffreedom.cc/"><button class="button-download button">HTML</button></a>
    <a href="https://github.com/costoffreedom/costoffreedom-book/raw/master/costoffreedom-final.pdf"><button class="button-download button">PDF</button></a>
    <a href="https://www.gitbook.com/download/epub/book/costoffreedom/costoffreedom-book"><button class="button-download button">EPUB</button></a>
  </p>
</div>
