<div id="download">
  <p class="row">
    <span class="seven columns center">
      Read The Book
      <br>
      <br>
      <a href="//book.costoffreedom.cc/"><button class="button-download button">HTML</button></a>
      <a href="/book/costoffreedom-edition-1.1.pdf"><button class="button-download button">PDF</button></a>
      <a href="https://www.gitbook.com/download/epub/book/costoffreedom/costoffreedom-book"><button class="button-download button">EPUB</button></a>
    </span>
    <span class="five columns center">
      Get Print Book
      <br>
      <br>
      <a href="https://www.lulu.com/shop/book-sprint/cost-of-freedom/paperback/product-1mqe65jg.html?q=cost+of+freedom&page=1&pageSize=4" title="Support independent publishing: Buy this book on Lulu."><button class="button-download button">Lulu</button></a>
    </span>
    <p class="row center sales-info">
        All sales goes to <a href="http://freebassel.org">support the #FREEBASSEL Campaign.</a>
    </p>
  </p>
</div>
