<div class="row" id="footer">

    <div class="container">
        <div class="row">
            <div class="three columns">
                <a href="http://fabricatorz.com">
                    <img src="/images/Fabricatorz-type.png" alt="logo fabricatorz" class="logo fabricatorz">
                </a>
            </div>
            <div class="three columns">
                <a href="http://creativecommons.org">
                    <img src="/images/cc.logo.large.png" alt="logo cc" class="logo cc">
                </a>
            </div>
            <div class="three columns">
                <a href="http://freebassel.org">
                    <img src="/images/freebassel.png" alt="logo freebassel" class="logo freebassel">
                </a>
            </div>
            <div class="three columns">
                <a href="http://booksprints.net">
                    <img src="/images/booksprint.png" alt="logo booksprints" class="logo booksprints">
                </a>
            </div>
        </div>
        <div class="row" id="license">
            <div class="twelve columns">
                <a href="https://twitter.com/intent/tweet?button_hashtag=costoffreedom&text=What%20is%20the%20Cost%20of%20Freedom%3F%20Book%20now%20in%20print%20inspired%20by%20%23freebassel%20writings%20by%2045%20authors.%20http%3A%2F%2Fcostoffreedom.cc%20%23costoffreedom" class="twitter-hashtag-button" data-size="large" data-related="freebassel" data-url="http://costoffreedom.cc">Tweet #costoffreedom</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
   
   <div class="container center" style="border: 1px solid #eee; padding: 8px;">
   	<!-- Your like button code -->
   <div
     class="fb-like"
     data-href="http://waiting4bassel.cc" 
     data-share="true"
     data-width="450"
     data-show-faces="true">
   </div>
   </div>
                
                
                <p>
                    <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/p/zero/1.0/80x15.png" /></a>
                    <br>This work is released under <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.</p>
            </div>
        </div>
    </div>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-69874023-1', 'auto');
ga('send', 'pageview');
</script>
