<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1053272478049102',
      xfbml      : true,
      version    : 'v2.5'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="header" class="row" style="text-align:center;">
    <div class="twelve column">
        <h1><a href="/">Cost of Freedom</a></h1>
        <h4>A Collective Inquiry</h4>
    </div>
</div>
