<div id="header" class="row" style="text-align:center;">
    <div class="twelve column">
        <h1><a href="/book">Cost of Freedom</a></h1>
        <h4>A Collective Inquiry</h4>
        <p class="center">
            <a href="/book/cost-of-freedom.pdf">
                <button class="button-download button">Download PDF</button>
            </a>
            <a href="/book/cost-of-freedom.epub">
                <button class="button-download button">Download EPUB</button>
            </a>
        </p>
    </div>
</div>
