<div id="menu">
    <div class="container">
        <div class="row">
            <div class="twelve columns center">
                    <p>
                        <a href="/book" title="Homepage Cost of Freedom">The Book</a> 
                        : <a href="/book/collective-memory">Collective Memory</a> 
                        | <a href="/book/opening:freedom">OPENING: FREEDOM</a> 
                        | <a href="/book/architectonics-of-power">ARCHITECTONICS OF POWER</a> 
                        | <a href="/book/affordances">AFFORDANCES</a> 
                        | <a href="/book/epilogue">Epilogue</a>
                        : <a href="/book/attributions">Credits</a>
                    </p>
            </div>
        </div>
    </div>
</div>
