  {% include header.html %}
    <main class="container">

        {% if  page.author | slugify:default | replace:'é','e'  != "" %}
          {% capture author %}
            {% include authors/{{ page.author | downcase | slugify:default | replace:'é','e' | replace:'ë','e' }}.md %}
          {% endcapture %}

          {{ author  | escape  | markdownify }}
          {{ author  }}

      {% endif %}

      <article class="twelve columns">
        <h2 class="center">{{ page.title }}</h2>
        {{ content }}
      </article>


    </main>
    <footer class="container">
      <nav class="row next-prev">
        <ul class="twelve columns">
          <li class='prev'>{{ page.previous }}</li>
          <li>{{ page.up }} </li>
          <li class="next">{{ page.next }}</li>
        </ul>
      </nav>
    </footer>
    {% include footer.html %}

