<head>
    <link rel="stylesheet" href="/css/print.css">
</head>
<body>

{% include print/attributions.html %}

{% include print/prologue-voices-of-free-culture.html %}
{% include print/prologue-introduction.html %}

{% include print/affordances/collective-validation.html %}
{% include print/affordances/nomadic-family.html %}
{% include print/affordances/queering.html %}
{% include print/affordances/reconciliation.html %}
{% include print/affordances/resilient-networks.html %}
{% include print/affordances/self-sufficiency.html %}
{% include print/affordances/transdisciplinarity.html %}

{% include print/architectonics-of-power/architecture-power.html %}
{% include print/architectonics-of-power/beyond-capitalism.html %}
{% include print/architectonics-of-power/free-software-economics.html %}
{% include print/architectonics-of-power/from-outer-space.html %}
{% include print/architectonics-of-power/hacking-the-contradictions.html %}
{% include print/architectonics-of-power/image-identity-attribution-authorship.html %}
{% include print/architectonics-of-power/the-burden-of-journalism.html %}
{% include print/architectonics-of-power/the-cost-of-internet-freedom.html %}
{% include print/architectonics-of-power/time-to-wake-up.html %}
{% include print/architectonics-of-power/why-i-choose-copyright.html %}
{% include print/architectonics-of-power/why-i-choose-privacy.html %}
{% include print/architectonics-of-power/why-i-refused-my-proprietary-self.html %}


{% include print/collective-memory/about-bassel.html %}
{% include print/collective-memory/bassel-and-my-freedom.html %}
{% include print/collective-memory/bassel-k.html %}
{% include print/collective-memory/free-bassel.html %}
{% include print/collective-memory/liberte.html %}
{% include print/collective-memory/my-friend-is-not-free.html %}
{% include print/collective-memory/newpalmyra-and-the-free-bassel-campaign.html %}
{% include print/collective-memory/palmyra-3d-premonition-vision-of-bassel.html %}
{% include print/collective-memory/rebuild-asad-al-lat.html %}
{% include print/collective-memory/supporting-bassel.html %}
{% include print/collective-memory/the-uncommon-creativity-of-bassel-khartabil.html %}
{% include print/collective-memory/what-does-freedom-mean-to-you-mr-government.html %}

{% include print/epilogue/andromeda-report-gliese-832-c-expedition.html %}
{% include print/epilogue/arabfuturisms-conversation-a.html %}
{% include print/epilogue/internal-freedom.html %}
{% include print/epilogue/love-letter-to-computers.html %}
{% include print/epilogue/the-cost-of-future-tense.html %}

{% include print/opening-freedom/costs-of-openness.html %}
{% include print/opening-freedom/free-as-in-commons.html %}
{% include print/opening-freedom/free-culture-in-an-expensive-world.html %}
{% include print/opening-freedom/freedom-as-a-commodity.html %}
{% include print/opening-freedom/freedom-to-vs-freedom-from.html %}
{% include print/opening-freedom/inside-or-outside-the-movement.html %}
{% include print/opening-freedom/keeping-promises.html %}
{% include print/opening-freedom/my-brain-on-freedom.html %}
{% include print/opening-freedom/the-open-world.html %}
{% include print/opening-freedom/the-shit-of-freedom.html %}
{% include print/opening-freedom/too-poor-not-to-care.html %}
{% include print/opening-freedom/what-is-open.html %}



{% include print/annoucement.html %}
{% include print/appendix.html %}

</body>
